body{
    font-family: "Century Gothic", sans-serif !important;
    margin: 0;
}
body .ui-widget {
    font-family: "Century Gothic", sans-serif;
}
h1, h3 {
    font-family: Garamond serif
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 35px;
    font-weight: 500;
}
h3 {
    font-size: 25px;
    font-weight: 500;
}
p{
    font-size: 16px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.nav-area {
    width: 100%;
    box-shadow: 0px 7px 14px rgba(140, 140, 140, 0.62);
    z-index: 20;
    position: relative;
}
.header-wrapper {
    padding: 10px 0px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    width:100%;
}
.main-menu {
    list-style-type:none;
    margin: 10px;
    display: flex;
}
.main-menu .nav-item {
    margin: 10px;
}
.nav-item a {
    color: rgb(115, 115, 115);
    font-weight: 600;
}
.main-menu .nav-item {
    display: inline-block;
}
.nav-item a:hover {
    color: rgb(113, 173, 172);
    text-decoration: none;
}
.nav-item a:active {
    color: #549291;
}
.main-menu-logo {
    height:auto;
    max-width:290px;
}
.header-img{
    width: 300px;
}
.header-img-item{
    width: 150px;
}
.right-nav-item {
    width: 466px;
    text-align: right;
    padding-right: 40px;
}
.shopping-cart-icon{
    margin-right: 5px;
    font-weight: bold;
}
.carousel-indicators li {
    background-color: initial !important;
    text-indent: initial !important;
    height: initial !important;
    width: initial !important;
}
.carousel-indicators {
    font-size: 35px !important;
}
.index-content-div {
    height: 450px;
    padding: 30px;
}
.index-content-div h2 {
    font-size: 35px;
    font-weight: 500;
}
.index-add-button{
    text-align: center;
    width: 100%;
    align-self: flex-end;
}
.index-add-button .ui-button{
    margin: 0 30px;
    padding: 8px 0;
    min-width: 195px;
    color: white;
}
.index-add-button .ui-button.ui-button-danger:hover {
    filter: brightness(90%);
    color: white;
    text-decoration: none;
}
.button-index-content-div {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 100%;
    height: 220px;
    padding: 30px;
}
.button-index-content-div h2 {
    font-size: 35px;
    font-weight: 500;
}
.line {
    border: 1px solid rgb(113, 173, 172, 0.5);
    margin: 0px 15px;
}
.article-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}
.content-wrapper {
    display: flex;
}
.left-column {
    margin-left: 15px;
}
.right-column {
    margin-left: 125px;
    width: 610px;
    padding-top: 550px;
    z-index: 10;
}
.img-own-recipe {
    width: 520px;
    border-radius: 13px;
}
.ingredient-wrapper {
    border-radius: 13px;
    margin-top: 25px;
    background-color: rgb(245 242 240);
    min-height: 650px;
    padding: 10px;
}
.ingredient-wrapper-flex {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.ingredient-list {
    padding: 8px;
    padding-top: 0px;
}
.header-text {
    font-size: 25px;
    width: 150px;
    font-weight: bold;
}
.ingredient-list-item {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
}
.list-item-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 15px;
}
.checkbox-style.ui-chkbox .ui-chkbox-box {
    width: 16px;
    height: 16px;
}
.checkbox-style.ui-chkbox .ui-chkbox-box.ui-state-active {
    background: rgb(255, 255, 255);
    border-color: rgb(73, 80, 87);
    color: rgb(73 80 87);
}
.checkbox-style.ui-chkbox .ui-chkbox-box .ui-chkbox-icon {
    margin-left: -5px;
    margin-top: -7px;
    font-size: 10px;
}
.list-item-amountWhole {
    margin: 0px 4px;
}
.amountWhole-before:before {
    content: "(";
}
.list-item-amount{
    padding-left: 3px;
}
.list-item-fracSpan {
    margin: 0px 5px;
    letter-spacing: -3px;
}
.list-item-frac {
    font-size: 10px;
}
.list-item-fracSep {
    font-size: 15px;
}
.list-item-name {
    margin: 0px 4px;
}
.list-item-alter{
    margin: 0px 3px;
}
.select-all-checkbox-wrapper{
    margin-top: 25px;
}
.portion-spinner-wrapper {

}
.ui-widget.text-spinner {
    font-size: 16px;
    font-family: "Century Gothic", sans-serif;
}
.text-spinner {
    padding-bottom: 10px;
    padding-top: 0px;
    font-weight: bold;
    margin: 5px;
}
.portion-spinner {
    margin-left: 40px;
    margin-right: 35px;
}
.portion-spinner .ui-spinner-up {
    right: -38px;
}
.portion-spinner .ui-spinner-down {
    left: -38px;
}
.portion-spinner .ui-spinner-button {
    height: 100%;
    background-color: rgb(145, 145, 145);
    border: 1px solid rgb(145, 145, 145);
    color:white;
}
.portion-spinner .ui-spinner-button:hover {
    color: white;
}
.portion-spinner.ui-spinner .ui-spinner-button.ui-button.ui-spinner-up {
    border-radius: 7px 19px 19px 7px;
}
.portion-spinner.ui-spinner .ui-spinner-button.ui-button.ui-spinner-up .ui-icon:before {
    content: "\e90d";
}
.portion-spinner.ui-spinner .ui-spinner-button.ui-button.ui-spinner-down {
    border-radius: 19px 7px 7px 19px;
}
.portion-spinner.ui-spinner .ui-spinner-button.ui-button.ui-spinner-down .ui-icon:before {
    content: "\e90f";
}
.portion-spinner .ui-spinner-button:hover {
    background-color: rgb(28, 129, 127);
    border: 1px solid rgb(28, 129, 127);
}
.portion-spinner .ui-inputfield {
    border: 2px solid rgb(255 255 255);
}
.portion-spinner.ui-spinner .ui-spinner-input {
    width: 51px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 8px;
    line-height: 17px;
}
.portion-spinner .ui-inputfield.ui-state-hover {
    border: 2px solid rgb(73, 80, 87);
}
.portion-spinner .ui-inputfield.ui-state-focus {
    border: 2px solid rgb(73, 80, 87);
    box-shadow: 0 1px 3px rgb(128, 128, 128);
}
.ingredient-button {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
}
.ingredient-button .ui-button.ui-button-danger {
    transition: border-radius 0.3s;
}
.ingredient-button .ui-button.ui-button-danger:hover {
    border-radius: 20px;
}
.directions {
    min-height: 360px;
}
li.description {
    margin: 0px;
}
.itemNut-wrapper {
    height: 110px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    border-left: solid 2px rgb(113, 173, 172, 0.5);
    padding: 0px 10px;
    border-right: solid 2px rgb(113, 173, 172, 0.5);
}
.itemNut {
    display: flex;
    justify-content: space-between;
}
.go-up-button {
    font-size: 35px;
    position: fixed;
    right: 10px;
    z-index: 1000;
    display: inline-block;
    color: black;
    bottom: 30px;
    width: 45px;
    padding: 5px;
    background-color: rgb(113 173 172);
    border-radius: 50px;
    opacity: 0.8;
}
.footer {
    background-color: rgb(245 242 240);
    height: 150px;
}
.no-header.ui-dataview .ui-dataview-header{
    display: none;
}
.menu-header.ui-dataview .ui-dataview-header .ui-dataview-layout-options{
    display: none;
}
div.ui-dataview .ui-dataview-header {
    border: none;
    background: #ffffff;
}
.recipe-box {
    max-width: 170px;
    padding: 10px;
    box-shadow: 3px 3px 5px #8c8c8c54;
    border: 1px solid #8c8c8c54;
    border-radius: 3px;
    min-height: 262px;
    display: flex;
    justify-content: center;
    margin: 10px;
}
.recipe-box:hover {
    box-shadow: 3px 3px 5px rgb(113, 173, 172);
    border-color: rgb(113, 173, 172);
    border-radius: 15px;
    transition: all 0.3s;
    cursor: pointer;
}
.recipe-box span:hover {
    text-decoration: none;
}
.recipe-box-link {
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    align-items: center;
}
a.ui-commandlink:hover{
    text-decoration: none;
}
span.recipe-label {
    font-size: 80%;
    color: rgb(115, 115, 115);
    font-weight: 600;
    font-family: "Century Gothic", sans-serif;
    padding-top: 5px;
}
.recipe-box:hover .recipe-label {
    color: rgb(113, 173, 172);
    transition: all 0.3s;
}
div.ui-selectcheckboxmenu.filter-menu-input {
    width: 170px;
    text-align: left;
    font-family: "Century Gothic", sans-serif;
    background-color: rgba(113, 173, 172, 0.4);
    border: 2px solid rgba(113, 173, 172, 0.01);
}
div.ui-selectcheckboxmenu.filter-menu-input:hover {
    border: 2px solid rgba(113, 173, 172, 0.01);
    border-radius: 20px;
    transition: border-radius 0.3s;
}
div.ui-selectcheckboxmenu.filter-menu-input.ui-state-focus:not(.ui-state-error) {
    border: 2px solid rgba(113, 173, 172, 0.01);
    box-shadow: none;
    border-radius: 20px;
}
.filter-menu-panel {
    width: 250px;
}
.dataview-header {
    display: flex;
    justify-content: space-evenly;
}
.input-text label {
    font-family:"Century Gothic", sans-serif;
}
.input-text span input {
    font-family:"Century Gothic", sans-serif;
    margin-left: 5px;
    margin-right: 15px;
    width: 400px;
    border: 2px solid rgb(113 173 172);
}
.input-text span input:hover {
    border: 2px solid rgb(113 173 172);
}
.input-text span input:focus {
    border: 2px solid rgb(113 173 172);
    box-shadow: none;
    border-radius: 20px;
    transition: border-radius 0.3s;
}
.filter-buttons-wrapper {
    text-align: center;
}
.filter-buttons-wrapper button.ui-button {
    margin-right: 15px;
}

.filter-buttons-wrapper .ui-button-submit {
    background: rgb(113 173 172);
    border: 1px solid rgb(113 173 172);
}
.filter-buttons-wrapper .ui-button-submit:hover {
    border-radius: 20px;
    transition: border-radius 0.3s;
    background: rgb(113 173 172);
    border: 1px solid rgb(113 173 172);
}

.filter-buttons-wrapper .ui-button-danger:hover {
    border-radius: 20px;
    transition: border-radius 0.3s;
}

.ui-dataview .ui-dataview-content {
 margin-bottom: 15px;
}

.rowWrapper{
    display: flex;
    justify-content: space-between;
    margin: 30px 30px 0px 30px;
    align-items: center;
    border-bottom: 1px solid rgb(73, 80, 87, 0.6);
}

.valueAltUnitWrapper {
    display: flex;
    width: 350px;
    height: 100px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

div.altUnitValueItem .ui-inputnumber .ui-inputtext {
    width: 60px;
    border-radius: 0px;
    padding: 0;
    text-align: right;
}
div.altUnitValueItem .ui-outputlabel,
.nutritionValuesItem .ui-outputlabel,
.servingsValue .ui-outputlabel {
    margin: 0 10px;
}

.altUnitValueItem {
    margin: 2px;
    display: flex;
    justify-content: space-between;
}

.ingredientNameTxt.ui-inputtext,
.ingredientValueNumb .ui-inputtext,
.recipeNameTxt.ui-inputtext {
    border: none;
    border-bottom: 1px solid rgb(73 80 87);
    border-radius: 0;
    width: 350px;
}

.nutritionValues .ui-inputtext {
    border: none;
    border-bottom: 1px solid rgb(73 80 87);
    border-radius: 0;
    width: 100px;
    padding-bottom: 1px;
    margin-bottom: 1px;
}

.servingsValue .ui-inputtext {
    border: none;
    border-bottom: 1px solid rgb(73 80 87);
    border-radius: 0;
    width: 80px;
    padding-bottom: 1px;
    margin-bottom: 1px;
}

.nutritionValues .ui-inputtext.ui-state-hover,
.servingsValue .ui-inputtext.ui-state-hover {
    border: none;
    border-bottom: 2px solid rgb(73 80 87);
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.nutritionValues .ui-inputtext.ui-state-focus,
.servingsValue .ui-inputtext.ui-state-focus{
    border: none;
    border-bottom: 2px solid rgb(73 80 87);
    padding-bottom: 0px;
    margin-bottom: 0px;
    box-shadow: 2px 2px 5px rgba(73, 80, 87, 0.2);
}

.nutritionValuesItem .ui-inputtext,
.servingsValue .ui-inputtext {
    padding: 0;
    text-align: right;
}

.servingsValue .ui-inputtext {
    line-height: 37px;
}

.recipeNameTxt.ui-inputtext {
    width: 635px;
    font-size: 60px;
    color: black;
    font-family: Garamond serif;
}

.recipeNameTxt.ui-inputtext::placeholder {
    opacity: 0.5;
}

.ingredientNameTxt.ui-inputtext:hover,
.recipeNameTxt.ui-inputtext:hover {
    border-bottom: 1px solid rgb(113, 173, 172, 0.5);
}

.ingredientNameTxt.ui-inputfield.ui-state-focus,
.recipeNameTxt.ui-inputfield.ui-state-focus {
    border-bottom: 2px solid rgb(113, 173, 172);
    box-shadow: none;
    padding-bottom: 7px;
}

.directionsInput.ui-inputfield {
    color: black;
    border-color: rgb(73 80 87);
}

.directionsInput.ui-inputfield:hover {
    color: black;
    border: 2px solid rgb(73, 80, 87);
    padding: 7px;
}

.directionsInput.ui-inputfield.ui-state-focus {
    color: black;
    border: 2px solid rgb(73, 80, 87);
    padding: 7px;
    box-shadow: 5px 5px 10px rgba(73, 80, 87, 0.2);
}

.valueHoverStyle:hover {
    color: rgb(113, 173, 172, 0.5);
    border-bottom: 1px solid rgb(113, 173, 172, 0.5);
}
.valueHoverStyle.ui-state-focus {
    color: rgb(113, 173, 172);
    border-bottom: 1px solid rgb(113, 173, 172);
}
.altUnitValueItem .ingredientValueNumb.ui-inputfield.ui-state-focus {
    color: rgb(113, 173, 172);
    border-bottom: 2px solid rgb(113, 173, 172);
    box-shadow: none;
    padding-bottom: 0px;
}

.ingredientValueNumb .ui-inputfield {
    padding-bottom: 1px;
    margin-bottom: 1px;
}

.ingredientValueNumb .ui-inputfield.ui-state-hover {
    border-bottom: 2px solid rgb(73, 80, 87);
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.ingredientValueNumb .ui-inputfield.ui-state-focus {
    border: none;
    border-bottom: 2px solid rgb(73, 80, 87);
    padding-bottom: 0px;
    margin-bottom: 0px;
    box-shadow: 3px 2px 2px rgba(73, 80, 87, 0.2);
}

div .selectOneMenuStyle.ui-widget,
div .ownRecipeSelectOneMenuStyle.ui-widget {
    font-family: "Century Gothic", sans-serif;
}

div .selectOneMenuStyle.ui-selectonemenu,
.ownRecipeSelectOneMenuStyle.ui-selectonemenu {
    border-color: rgba(113, 173, 172, 0.4);
    background-color: rgba(113, 173, 172, 0.5);
    color: rgb(73 80 87);
    transition: border-radius 0.5s;
    border-radius: 4px;
}

div .selectOneMenuStyle.ui-selectonemenu .ui-selectonemenu-label{
    min-width: 175px;
}

.ownRecipeSelectOneMenuStyle.ui-selectonemenu .ui-selectonemenu-label {
    width: 210px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div .defaultUnitSelect.ui-selectonemenu .ui-selectonemenu-label {
    min-width: 65px;
}

div .selectOneMenuStyle.ownRecipeUnitDrop.ui-selectonemenu .ui-selectonemenu-label {
    width: 100px;
    min-width: 100px;
}

div .selectOneMenuStyle.ui-selectonemenu.ui-state-hover:not(ui-state-error),
.ownRecipeSelectOneMenuStyle.ui-selectonemenu.ui-state-hover:not(ui-state-error) {
    border-radius: 30px;
    transition: border-radius 0.5s;
    border-color: rgba(113, 173, 172, 0.4);
}
div .selectOneMenuStyle.ui-selectonemenu.ui-state-focus:not(ui-state-error),
.ownRecipeSelectOneMenuStyle.ui-selectonemenu.ui-state-focus:not(ui-state-error){
    box-shadow: none;
    border-color: rgba(113, 173, 172, 0.4);
}
div .selectOneMenuStyle.ui-selectonemenu.ui-state-focus:not(ui-state-error)[aria-expanded^="false"],
.ownRecipeSelectOneMenuStyle.ui-selectonemenu.ui-state-focus:not(ui-state-error)[aria-expanded^="false"]{
    box-shadow: none;
    border-radius: 4px;
}
.selectOneMenuStylePanel:hover,
.ownRecipeSelectOneMenuStylePanel:hover {
    border-radius: 15px;
    transition: border-radius 0.3s;
}
.selectOneMenuStylePanel,
.ownRecipeSelectOneMenuStylePanel {
    transition: border-radius 0.5s;
}
div .selectOneMenuStylePanel.ui-widget,
ownRecipeSelectOneMenuStylePanel.ui-widget {
    font-family: "Century Gothic", sans-serif;
}
.selectOneMenuStylePanel.ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item.ui-state-highlight,
.ownRecipeSelectOneMenuStylePanel.ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item.ui-state-highlight {
    background: rgba(113, 173, 172, 0.5);
}
.selectOneMenuStylePanel.ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item.ui-state-hover,
.ownRecipeSelectOneMenuStylePanel.ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item.ui-state-hover {
    background: rgba(113, 173, 172, 0.1);
}
.selectOneMenuStylePanelWidth {
    width: 175px;
}
.ownRecipeSelectOneMenuStylePanelWidth {
    width: 310px;
}
.addNewRowButton .ui-button.ui-button-outlined,
.ingredient-wrapper .ui-button.ui-button-outlined {
    color: rgb(73, 80, 87);
    border:none;
}
.addNewRowButton .ui-button.ui-button-outlined.ui-state-hover {
    color: rgb(73, 80, 87);
    border: 1px solid;
    background-color: transparent;
}

.ingredient-wrapper .ui-button.ui-button-outlined.ui-state-hover {
    color: rgb(73, 80, 87);
    background-color: transparent;
    border: none;
}

.ingredient-wrapper .ui-button.ui-button-outlined.ui-state-hover span:before{
    font-weight: bold;
}

.addNewRowButton .ui-button.ui-button-outlined.ui-state-focus,
.ingredient-wrapper .ui-button.ui-button-outlined.ui-state-focus {
    box-shadow: none;
}

.addNewRowButton .ui-button.ui-button-outlined.ui-state-active {
    color: rgb(73, 80, 87);
    border: 1px solid;
    background-color: transparent;
    box-shadow: 0 0 0 1px rgb(73, 80, 87, 0.5);
}

.ingredient-wrapper .ui-button.ui-button-outlined.ui-state-active {
    color: rgb(73, 80, 87);
    background-color: transparent;
    border: none;
}

.addNewRowButton .ui-button.ui-button-outlined.ui-state-active span:before,
.ingredient-wrapper .ui-button.ui-button-outlined.ui-state-active span:before {
    font-weight: bold;
}

.saveAllIngredients {
    margin: 20px 30px;
}

.nutritionValues {
    height: 140px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    flex-wrap: wrap;
    border-left: solid 2px rgb(113, 173, 172, 0.5);
    padding: 0px 10px;
    border-right: solid 2px rgb(113, 173, 172, 0.5);
}
.nutritionValuesItem {
    display: flex;
    justify-content: space-between;
    margin: 2px;
}

.addImgButton .ui-button {
    display: block;
    width: 520px;
    height: 780px;
    background: rgb(245 242 240);
    border: 1px solid rgb(245 242 240);
    border-radius: 13px;
    text-align: center;
}

.addImgButton .ui-button.ui-button-text-icon-left .ui-icon{
    position: relative;
    color: black;
}

.addImgButton .ui-button.ui-state-hover {
    background: rgb(78, 80, 87, 0.7);
    border: 1px solid rgb(78, 80, 87, 0.4);
    color: black;
}

.addImgButton .ui-button.ui-state-active {
    background: rgb(78, 80, 87, 0.7);
    border: 1px solid rgb(78, 80, 87, 0.4);
    color: black;
}

.addImgButton .ui-button.ui-state-focus {
    box-shadow: none;
}

.addImgButton .ui-button.ui-button-text-icon-left .ui-button-text{
    margin-top: 385px;
    color: black;
}

.addImgButton.ui-fileupload-simple .ui-fileupload-filename {
    width: 450px;
    margin-left: 8px;
    margin-bottom: 715px;
    border: 2px solid rgb(113,173,172);
    background: rgb(113,173,172);
    border-radius: 6px;
    padding: 4px;
    font-style: italic;
    overflow-wrap: break-word;
    color: floralwhite;
}

.numberOfServings {
    margin: 5px;
}

.ui-button.alignRightButton {
    position: fixed;
    float: right;
    right: 10px;
    z-index: 1000;
    display: block;
    width: 200px;
    top: 150px;
}